{% extends 'FOSMessageBundle::layout.html.twig' %}

{% block fos_message_content %}

<h2>{% trans from 'FOSMessageBundle' %}send_new{% endtrans %}</h2>



<form action="{{ url('fos_message_thread_new') }}" method="post">
    <input type="text" id="message_recipient" name="message[recipient]"
           required="required" value="
                                        {% if username is defined %}
                                        {{ username }}
                                        {% endif %}
                                     "/></div>

    <br>
    {{ form_widget(form.subject) }}<br>
    {{ form_widget(form.body) }}<br>
    {{ form_widget(form._token) }}<br>

    <input type="submit" />
</form>

{% endblock %}
