{% extends "::base.html.twig" %}

{% block title %}HelpiBundle:Message:custom{% endblock %}

{% block body %}
<h1>Welcome to the Message:NEW page</h1>

    {{ form_start(form) }}
    Username:<br>
    {{ form_widget(form.recId) }}
    <br><br>
    {{ form_label(form.subject) }}:<br>
    {{ form_widget(form.subject) }}
    <br><br>
    {{ form_label(form.text) }}:<br>
    {{ form_widget(form.text) }}
    <br><br>
    {{ form_widget(form.submit) }}
    {{ form_end(form) }}

{% endblock %}
